---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import woman1 from "../assets/images/woman1.png";
import woman2 from "../assets/images/dame2.png";
import woman3 from "../assets/images/dame3.png";
import laura from "../assets/images/mig.png";
import selma from "../assets/images/selma.png";
import ida from "../assets/images/ida.png";
import Steps from "../components/Steps.astro";
import Wave from "../components/Wave.astro";
---

<MainLayout title="Period">
	<section class="hidden md:block">
	<div id="popup" class="w-9xl fixed bottom-[2%] right-[2%] z-50 p-s bg-blue-300 shadow-dropblue rounded-border_radius-lg" style="display: none;">
		<div class="flex flex-row justify-between">
			<h6>Kunne du tænke dig noget rabat?</h6>
			<button id="close-btn">
				<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L24 24" stroke="#6974DE" stroke-width="2" stroke-linecap="round"/>
				<path d="M24 1.35278L1 24.3528" stroke="#6974DE" stroke-width="2" stroke-linecap="round"/>
				</svg>
				</button>
		</div>
		<h5>Tilmeld dig vores nyhedsbrev,<br> og få <b>15% rabat</b> på din næste ordre!</h5>
		<form class="pt-s">
			<input class="bg-blue-100 p-xs rounded-border_radius-md w-full border-none hover:bg-blue-200 enabled:border-red-400 text-blue-950 placeholder:text-blue-950" type="email" placeholder="Din e-mail" required="" />
		  </form>
		  <div class="flex place-content-end pt-xxs">
			<Button  variant="primary" size="small" value="Submit">Tilmeld</Button>
		  </div>
	  </div>
	</section>
	<section class="grid grid-cols-1 lg:grid-cols-2 lg:auto-cols-fr mx-sm md:mx-2xl mb-4xl md:pt-xxs pt-none">
		<div class="flex flex-col md:pt-lg ">
			<h1 class="text-red-500 text-xlargeMobile md:text-xlargeDesk ">Period pakken</h1>
			<h2 class="text-red-800 max-w-xl titel">gør din menstruation <span class="font-[800]">meget</span> lettere</h2>
		<section class="pt-sm">
			<div class="flex md:hidden">
				<img class="pb-sm" src="/gif/box-frame-5.gif" alt="">
			</div>
			<div class="flex flex-row place-items-center gap-s max-w-lg point1">
			<div>
				<svg class="p-xxs" width="37" height="52" viewBox="0 0 37 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.4141 51.5C28.2917 51.5 36.3284 43.4652 36.3284 33.5882C36.3284 23.915 19.5393 1.96062 18.8243 1.03108L18.4141 0.5L18.0039 1.03455C17.2899 1.96235 0.5 23.9183 0.5 33.5899C0.500193 43.4652 8.53678 51.5 18.4141 51.5Z" fill="#981117"/>
					</svg>
				</div>
		<h6 class="text-red-950">Skræddersyet menstruationspakke med bind, tamponer og selfcare goodies</h6>
	</div>
	<div class="flex flex-row place-items-center gap-s max-w-lg point2">
		<div>
			<svg class="p-xxs" width="37" height="52" viewBox="0 0 37 52" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18.4141 51.5C28.2917 51.5 36.3284 43.4652 36.3284 33.5882C36.3284 23.915 19.5393 1.96062 18.8243 1.03108L18.4141 0.5L18.0039 1.03455C17.2899 1.96235 0.5 23.9183 0.5 33.5899C0.500193 43.4652 8.53678 51.5 18.4141 51.5Z" fill="#981117"/>
				</svg>
			</div>
	<h6 class="text-red-950">Levering lige til din hoveddør - lige til tiden</h6>
</div>
<div class="flex flex-row place-items-center gap-s max-w-lg point3">
	<div>
		<svg class="p-xxs" width="37" height="52" viewBox="0 0 37 52" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18.4141 51.5C28.2917 51.5 36.3284 43.4652 36.3284 33.5882C36.3284 23.915 19.5393 1.96062 18.8243 1.03108L18.4141 0.5L18.0039 1.03455C17.2899 1.96235 0.5 23.9183 0.5 33.5899C0.500193 43.4652 8.53678 51.5 18.4141 51.5Z" fill="#981117"/>
			</svg>
		</div>
<h6 class="text-red-950">Hyggeligt og praktisk - på dine præmisser!</h6>
</div>
</section>
<div class="knap1">
	<div class="hidden md:flex pt-xs"><Button variant="primary" size="large" href="/abonner">Få abonnement</Button></div>
	<div class="md:hidden flex pt-s"><Button variant="primary" size="medium" href="/abonner">Abonnér</Button></div>
</div>
		</div>
		<div class="md:block hidden">
			<img src="/gif/box-frame-5.gif" alt="Gif af en kasse hvor der popper bind og slik ud af, og derefter popper tilbage">
		</div>
	</section>

<div class="section1">	<Steps></Steps></div>

	<section class="mt-2xl md:mt-4xl section2 block lg:hidden">
		<div class=" rotate-180 w-auto overflow-clip"><Wave></Wave></div>

		<div class=" bg-red-50/60 w-full overflow-x-auto scroll-snap-x ">
			<div class="flex space-x-4 gap-sm custom-scroll">
				<article class="flex flex-col gap-sm items-center pl-xs min-w-7xl md:min-w-9xl mx-xs md:mx-lg mb-m">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="232" height="38" viewBox="0 0 232 38" fill="none">
						<path d="M16.81 5.95614C17.4031 4.10181 20.0269 4.10182 20.6199 5.95614L22.4691 11.7379C22.7341 12.5664 23.5042 13.1287 24.374 13.1287H30.4245C32.3543 13.1287 33.1648 15.5918 31.6122 16.7378L26.6632 20.3907C25.9733 20.8999 25.6848 21.7923 25.946 22.6091L27.8235 28.4793C28.4146 30.3275 26.292 31.85 24.7308 30.6977L19.9027 27.134C19.1966 26.6129 18.2333 26.6129 17.5273 27.134L12.6992 30.6977C11.138 31.85 9.01538 30.3275 9.60649 28.4793L11.484 22.6091C11.7452 21.7923 11.4567 20.8999 10.7667 20.3907L5.81777 16.7378C4.26512 15.5918 5.07569 13.1287 7.00548 13.1287H13.0559C13.9258 13.1287 14.6959 12.5664 14.9609 11.7379L16.81 5.95614Z" fill="#E7232D"/>
						<path d="M65.0425 5.95614C65.6355 4.10181 68.2593 4.10182 68.8523 5.95614L70.7015 11.7379C70.9665 12.5664 71.7366 13.1287 72.6065 13.1287H78.6569C80.5867 13.1287 81.3973 15.5918 79.8446 16.7378L74.8956 20.3907C74.2057 20.8999 73.9172 21.7923 74.1784 22.6091L76.0559 28.4793C76.647 30.3275 74.5244 31.85 72.9632 30.6977L68.1351 27.134C67.4291 26.6129 66.4657 26.6129 65.7597 27.134L60.9316 30.6977C59.3704 31.85 57.2478 30.3275 57.8389 28.4793L59.7164 22.6091C59.9776 21.7923 59.6891 20.8999 58.9991 20.3907L54.0502 16.7378C52.4975 15.5918 53.3081 13.1287 55.2379 13.1287H61.2883C62.1582 13.1287 62.9283 12.5664 63.1933 11.7379L65.0425 5.95614Z" fill="#E7232D"/>
						<path d="M113.275 5.95614C113.868 4.10181 116.492 4.10182 117.085 5.95614L118.934 11.7379C119.199 12.5664 119.969 13.1287 120.839 13.1287H126.889C128.819 13.1287 129.63 15.5918 128.077 16.7378L123.128 20.3907C122.438 20.8999 122.15 21.7923 122.411 22.6091L124.288 28.4793C124.879 30.3275 122.757 31.85 121.196 30.6977L116.368 27.134C115.661 26.6129 114.698 26.6129 113.992 27.134L109.164 30.6977C107.603 31.85 105.48 30.3275 106.071 28.4793L107.949 22.6091C108.21 21.7923 107.921 20.8999 107.232 20.3907L102.283 16.7378C100.73 15.5918 101.541 13.1287 103.47 13.1287H109.521C110.391 13.1287 111.161 12.5664 111.426 11.7379L113.275 5.95614Z" fill="#E7232D"/>
						<path d="M161.994 6.13191C162.577 4.25812 165.23 4.25813 165.813 6.13192L167.554 11.7233C167.815 12.5592 168.588 13.1287 169.464 13.1287H175.273C177.19 13.1287 178.009 15.5645 176.481 16.7225L171.637 20.3946C170.966 20.9035 170.686 21.7786 170.936 22.583L172.752 28.4128C173.33 30.2705 171.184 31.7766 169.634 30.6013L165.112 27.1732C164.397 26.6317 163.41 26.6317 162.695 27.1732L158.173 30.6013C156.623 31.7766 154.477 30.2705 155.055 28.4128L156.871 22.583C157.121 21.7786 156.841 20.9035 156.17 20.3946L151.325 16.7225C149.798 15.5645 150.617 13.1287 152.534 13.1287H158.343C159.219 13.1287 159.992 12.5592 160.253 11.7233L161.994 6.13191Z" fill="#E7232D"/>
						<path d="M210.723 5.95614C211.316 4.10181 213.94 4.10182 214.533 5.95614L216.382 11.7379C216.647 12.5664 217.417 13.1287 218.287 13.1287H224.338C226.267 13.1287 227.078 15.5918 225.525 16.7378L220.576 20.3907C219.886 20.8999 219.598 21.7923 219.859 22.6091L221.737 28.4793C222.328 30.3275 220.205 31.85 218.644 30.6977L213.816 27.134C213.11 26.6129 212.146 26.6129 211.44 27.134L206.612 30.6977C205.051 31.85 202.928 30.3275 203.52 28.4793L205.397 22.6091C205.658 21.7923 205.37 20.8999 204.68 20.3907L199.731 16.7378C198.178 15.5918 198.989 13.1287 200.919 13.1287H206.969C207.839 13.1287 208.609 12.5664 208.874 11.7379L210.723 5.95614Z" fill="#E7232D"/>
						</svg>
					</div>
					<p class="text-red-950 text-center">“Den her pakke har ændret alt! Det er så rart at få det hele leveret til døren, og self-care-delen er en virkelig sød ekstra detalje. Jeg føler mig virkelig godt taget vare på, og det gør menstruationen lidt nemmere at håndtere.“</p>
					<Image class="h-[100px] w-[100px] md:h-[160px] md:w-[160px] rounded-full object-cover " src={woman1} alt="kvinde anmeldelse 1"></Image>
				</article>
	
				<article class="flex flex-col gap-sm items-center min-w-7xl md:min-w-9xl mx-xs mb-m">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="232" height="38" viewBox="0 0 232 38" fill="none">
						<path d="M16.81 5.95614C17.4031 4.10181 20.0269 4.10182 20.6199 5.95614L22.4691 11.7379C22.7341 12.5664 23.5042 13.1287 24.374 13.1287H30.4245C32.3543 13.1287 33.1648 15.5918 31.6122 16.7378L26.6632 20.3907C25.9733 20.8999 25.6848 21.7923 25.946 22.6091L27.8235 28.4793C28.4146 30.3275 26.292 31.85 24.7308 30.6977L19.9027 27.134C19.1966 26.6129 18.2333 26.6129 17.5273 27.134L12.6992 30.6977C11.138 31.85 9.01538 30.3275 9.60649 28.4793L11.484 22.6091C11.7452 21.7923 11.4567 20.8999 10.7667 20.3907L5.81777 16.7378C4.26512 15.5918 5.07569 13.1287 7.00548 13.1287H13.0559C13.9258 13.1287 14.6959 12.5664 14.9609 11.7379L16.81 5.95614Z" fill="#E7232D"/>
						<path d="M65.0425 5.95614C65.6355 4.10181 68.2593 4.10182 68.8523 5.95614L70.7015 11.7379C70.9665 12.5664 71.7366 13.1287 72.6065 13.1287H78.6569C80.5867 13.1287 81.3973 15.5918 79.8446 16.7378L74.8956 20.3907C74.2057 20.8999 73.9172 21.7923 74.1784 22.6091L76.0559 28.4793C76.647 30.3275 74.5244 31.85 72.9632 30.6977L68.1351 27.134C67.4291 26.6129 66.4657 26.6129 65.7597 27.134L60.9316 30.6977C59.3704 31.85 57.2478 30.3275 57.8389 28.4793L59.7164 22.6091C59.9776 21.7923 59.6891 20.8999 58.9991 20.3907L54.0502 16.7378C52.4975 15.5918 53.3081 13.1287 55.2379 13.1287H61.2883C62.1582 13.1287 62.9283 12.5664 63.1933 11.7379L65.0425 5.95614Z" fill="#E7232D"/>
						<path d="M113.275 5.95614C113.868 4.10181 116.492 4.10182 117.085 5.95614L118.934 11.7379C119.199 12.5664 119.969 13.1287 120.839 13.1287H126.889C128.819 13.1287 129.63 15.5918 128.077 16.7378L123.128 20.3907C122.438 20.8999 122.15 21.7923 122.411 22.6091L124.288 28.4793C124.879 30.3275 122.757 31.85 121.196 30.6977L116.368 27.134C115.661 26.6129 114.698 26.6129 113.992 27.134L109.164 30.6977C107.603 31.85 105.48 30.3275 106.071 28.4793L107.949 22.6091C108.21 21.7923 107.921 20.8999 107.232 20.3907L102.283 16.7378C100.73 15.5918 101.541 13.1287 103.47 13.1287H109.521C110.391 13.1287 111.161 12.5664 111.426 11.7379L113.275 5.95614Z" fill="#E7232D"/>
						<path d="M161.994 6.13191C162.577 4.25812 165.23 4.25813 165.813 6.13192L167.554 11.7233C167.815 12.5592 168.588 13.1287 169.464 13.1287H175.273C177.19 13.1287 178.009 15.5645 176.481 16.7225L171.637 20.3946C170.966 20.9035 170.686 21.7786 170.936 22.583L172.752 28.4128C173.33 30.2705 171.184 31.7766 169.634 30.6013L165.112 27.1732C164.397 26.6317 163.41 26.6317 162.695 27.1732L158.173 30.6013C156.623 31.7766 154.477 30.2705 155.055 28.4128L156.871 22.583C157.121 21.7786 156.841 20.9035 156.17 20.3946L151.325 16.7225C149.798 15.5645 150.617 13.1287 152.534 13.1287H158.343C159.219 13.1287 159.992 12.5592 160.253 11.7233L161.994 6.13191Z" fill="#E7232D"/>
						<path d="M210.723 5.95614C211.316 4.10181 213.94 4.10182 214.533 5.95614L216.382 11.7379C216.647 12.5664 217.417 13.1287 218.287 13.1287H224.338C226.267 13.1287 227.078 15.5918 225.525 16.7378L220.576 20.3907C219.886 20.8999 219.598 21.7923 219.859 22.6091L221.737 28.4793C222.328 30.3275 220.205 31.85 218.644 30.6977L213.816 27.134C213.11 26.6129 212.146 26.6129 211.44 27.134L206.612 30.6977C205.051 31.85 202.928 30.3275 203.52 28.4793L205.397 22.6091C205.658 21.7923 205.37 20.8999 204.68 20.3907L199.731 16.7378C198.178 15.5918 198.989 13.1287 200.919 13.1287H206.969C207.839 13.1287 208.609 12.5664 208.874 11.7379L210.723 5.95614Z" fill="#E7232D"/>
						</svg>
					</div>
					<p class="text-red-950 text-center">“Jeg elsker, hvor nemt det er at få min menstruationspakke leveret hver måned. Jeg slipper for at skulle købe bind og tamponer selv, og self-care-tingene gør virkelig en forskel. Chokolade og te til de dage? Ja tak!“</p>
					<Image class="h-[100px] w-[100px] md:h-[160px] md:w-[160px] rounded-full object-cover" src={woman2} alt="kvinde anmeldelse 2"></Image>
				</article>
	
				<article class="flex flex-col gap-sm items-center min-w-7xl md:min-w-9xl mx-xs mb-m">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="232" height="38" viewBox="0 0 232 38" fill="none">
						<path d="M16.81 5.95614C17.4031 4.10181 20.0269 4.10182 20.6199 5.95614L22.4691 11.7379C22.7341 12.5664 23.5042 13.1287 24.374 13.1287H30.4245C32.3543 13.1287 33.1648 15.5918 31.6122 16.7378L26.6632 20.3907C25.9733 20.8999 25.6848 21.7923 25.946 22.6091L27.8235 28.4793C28.4146 30.3275 26.292 31.85 24.7308 30.6977L19.9027 27.134C19.1966 26.6129 18.2333 26.6129 17.5273 27.134L12.6992 30.6977C11.138 31.85 9.01538 30.3275 9.60649 28.4793L11.484 22.6091C11.7452 21.7923 11.4567 20.8999 10.7667 20.3907L5.81777 16.7378C4.26512 15.5918 5.07569 13.1287 7.00548 13.1287H13.0559C13.9258 13.1287 14.6959 12.5664 14.9609 11.7379L16.81 5.95614Z" fill="#E7232D"/>
						<path d="M65.0425 5.95614C65.6355 4.10181 68.2593 4.10182 68.8523 5.95614L70.7015 11.7379C70.9665 12.5664 71.7366 13.1287 72.6065 13.1287H78.6569C80.5867 13.1287 81.3973 15.5918 79.8446 16.7378L74.8956 20.3907C74.2057 20.8999 73.9172 21.7923 74.1784 22.6091L76.0559 28.4793C76.647 30.3275 74.5244 31.85 72.9632 30.6977L68.1351 27.134C67.4291 26.6129 66.4657 26.6129 65.7597 27.134L60.9316 30.6977C59.3704 31.85 57.2478 30.3275 57.8389 28.4793L59.7164 22.6091C59.9776 21.7923 59.6891 20.8999 58.9991 20.3907L54.0502 16.7378C52.4975 15.5918 53.3081 13.1287 55.2379 13.1287H61.2883C62.1582 13.1287 62.9283 12.5664 63.1933 11.7379L65.0425 5.95614Z" fill="#E7232D"/>
						<path d="M113.275 5.95614C113.868 4.10181 116.492 4.10182 117.085 5.95614L118.934 11.7379C119.199 12.5664 119.969 13.1287 120.839 13.1287H126.889C128.819 13.1287 129.63 15.5918 128.077 16.7378L123.128 20.3907C122.438 20.8999 122.15 21.7923 122.411 22.6091L124.288 28.4793C124.879 30.3275 122.757 31.85 121.196 30.6977L116.368 27.134C115.661 26.6129 114.698 26.6129 113.992 27.134L109.164 30.6977C107.603 31.85 105.48 30.3275 106.071 28.4793L107.949 22.6091C108.21 21.7923 107.921 20.8999 107.232 20.3907L102.283 16.7378C100.73 15.5918 101.541 13.1287 103.47 13.1287H109.521C110.391 13.1287 111.161 12.5664 111.426 11.7379L113.275 5.95614Z" fill="#E7232D"/>
						<path d="M161.994 6.13191C162.577 4.25812 165.23 4.25813 165.813 6.13192L167.554 11.7233C167.815 12.5592 168.588 13.1287 169.464 13.1287H175.273C177.19 13.1287 178.009 15.5645 176.481 16.7225L171.637 20.3946C170.966 20.9035 170.686 21.7786 170.936 22.583L172.752 28.4128C173.33 30.2705 171.184 31.7766 169.634 30.6013L165.112 27.1732C164.397 26.6317 163.41 26.6317 162.695 27.1732L158.173 30.6013C156.623 31.7766 154.477 30.2705 155.055 28.4128L156.871 22.583C157.121 21.7786 156.841 20.9035 156.17 20.3946L151.325 16.7225C149.798 15.5645 150.617 13.1287 152.534 13.1287H158.343C159.219 13.1287 159.992 12.5592 160.253 11.7233L161.994 6.13191Z" fill="#E7232D"/>
						<path d="M210.723 5.95614C211.316 4.10181 213.94 4.10182 214.533 5.95614L216.382 11.7379C216.647 12.5664 217.417 13.1287 218.287 13.1287H224.338C226.267 13.1287 227.078 15.5918 225.525 16.7378L220.576 20.3907C219.886 20.8999 219.598 21.7923 219.859 22.6091L221.737 28.4793C222.328 30.3275 220.205 31.85 218.644 30.6977L213.816 27.134C213.11 26.6129 212.146 26.6129 211.44 27.134L206.612 30.6977C205.051 31.85 202.928 30.3275 203.52 28.4793L205.397 22.6091C205.658 21.7923 205.37 20.8999 204.68 20.3907L199.731 16.7378C198.178 15.5918 198.989 13.1287 200.919 13.1287H206.969C207.839 13.1287 208.609 12.5664 208.874 11.7379L210.723 5.95614Z" fill="#E7232D"/>
						</svg>
					</div>
					<p class="text-red-950 text-center">"Super praktisk løsning. Jeg kan vælge præcis, hvad jeg har brug for, og pakken kommer lige når jeg har brug for den. Det har gjort mit liv meget lettere, og jeg elsker, at jeg slipper for at tænke på det!"</p>
					<Image class="h-[100px] w-[100px] md:h-[160px] md:w-[160px] rounded-full object-cover" src={woman3} alt="kvinde anmeldelse 3"></Image>
				</article>

	
			</div>

		</div>

		<div class="overflow-clip w-auto"><Wave></Wave></div>
		
	</section>

	<section class="mt-2xl md:mt-4xl section3  hidden overflow-hidden lg:block slider-wrapper">
		<div class=" rotate-180 w-auto overflow-clip"><Wave></Wave></div>

		<div class=" bg-red-50/60 w-full slider">
			
			<div class="flex space-x-4 gap-sm ">
				<article class="flex flex-col gap-sm items-center min-w-9xl mx-xs md:mx-lg mb-m slide">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="232" height="38" viewBox="0 0 232 38" fill="none">
						<path d="M16.81 5.95614C17.4031 4.10181 20.0269 4.10182 20.6199 5.95614L22.4691 11.7379C22.7341 12.5664 23.5042 13.1287 24.374 13.1287H30.4245C32.3543 13.1287 33.1648 15.5918 31.6122 16.7378L26.6632 20.3907C25.9733 20.8999 25.6848 21.7923 25.946 22.6091L27.8235 28.4793C28.4146 30.3275 26.292 31.85 24.7308 30.6977L19.9027 27.134C19.1966 26.6129 18.2333 26.6129 17.5273 27.134L12.6992 30.6977C11.138 31.85 9.01538 30.3275 9.60649 28.4793L11.484 22.6091C11.7452 21.7923 11.4567 20.8999 10.7667 20.3907L5.81777 16.7378C4.26512 15.5918 5.07569 13.1287 7.00548 13.1287H13.0559C13.9258 13.1287 14.6959 12.5664 14.9609 11.7379L16.81 5.95614Z" fill="#E7232D"/>
						<path d="M65.0425 5.95614C65.6355 4.10181 68.2593 4.10182 68.8523 5.95614L70.7015 11.7379C70.9665 12.5664 71.7366 13.1287 72.6065 13.1287H78.6569C80.5867 13.1287 81.3973 15.5918 79.8446 16.7378L74.8956 20.3907C74.2057 20.8999 73.9172 21.7923 74.1784 22.6091L76.0559 28.4793C76.647 30.3275 74.5244 31.85 72.9632 30.6977L68.1351 27.134C67.4291 26.6129 66.4657 26.6129 65.7597 27.134L60.9316 30.6977C59.3704 31.85 57.2478 30.3275 57.8389 28.4793L59.7164 22.6091C59.9776 21.7923 59.6891 20.8999 58.9991 20.3907L54.0502 16.7378C52.4975 15.5918 53.3081 13.1287 55.2379 13.1287H61.2883C62.1582 13.1287 62.9283 12.5664 63.1933 11.7379L65.0425 5.95614Z" fill="#E7232D"/>
						<path d="M113.275 5.95614C113.868 4.10181 116.492 4.10182 117.085 5.95614L118.934 11.7379C119.199 12.5664 119.969 13.1287 120.839 13.1287H126.889C128.819 13.1287 129.63 15.5918 128.077 16.7378L123.128 20.3907C122.438 20.8999 122.15 21.7923 122.411 22.6091L124.288 28.4793C124.879 30.3275 122.757 31.85 121.196 30.6977L116.368 27.134C115.661 26.6129 114.698 26.6129 113.992 27.134L109.164 30.6977C107.603 31.85 105.48 30.3275 106.071 28.4793L107.949 22.6091C108.21 21.7923 107.921 20.8999 107.232 20.3907L102.283 16.7378C100.73 15.5918 101.541 13.1287 103.47 13.1287H109.521C110.391 13.1287 111.161 12.5664 111.426 11.7379L113.275 5.95614Z" fill="#E7232D"/>
						<path d="M161.994 6.13191C162.577 4.25812 165.23 4.25813 165.813 6.13192L167.554 11.7233C167.815 12.5592 168.588 13.1287 169.464 13.1287H175.273C177.19 13.1287 178.009 15.5645 176.481 16.7225L171.637 20.3946C170.966 20.9035 170.686 21.7786 170.936 22.583L172.752 28.4128C173.33 30.2705 171.184 31.7766 169.634 30.6013L165.112 27.1732C164.397 26.6317 163.41 26.6317 162.695 27.1732L158.173 30.6013C156.623 31.7766 154.477 30.2705 155.055 28.4128L156.871 22.583C157.121 21.7786 156.841 20.9035 156.17 20.3946L151.325 16.7225C149.798 15.5645 150.617 13.1287 152.534 13.1287H158.343C159.219 13.1287 159.992 12.5592 160.253 11.7233L161.994 6.13191Z" fill="#E7232D"/>
						<path d="M210.723 5.95614C211.316 4.10181 213.94 4.10182 214.533 5.95614L216.382 11.7379C216.647 12.5664 217.417 13.1287 218.287 13.1287H224.338C226.267 13.1287 227.078 15.5918 225.525 16.7378L220.576 20.3907C219.886 20.8999 219.598 21.7923 219.859 22.6091L221.737 28.4793C222.328 30.3275 220.205 31.85 218.644 30.6977L213.816 27.134C213.11 26.6129 212.146 26.6129 211.44 27.134L206.612 30.6977C205.051 31.85 202.928 30.3275 203.52 28.4793L205.397 22.6091C205.658 21.7923 205.37 20.8999 204.68 20.3907L199.731 16.7378C198.178 15.5918 198.989 13.1287 200.919 13.1287H206.969C207.839 13.1287 208.609 12.5664 208.874 11.7379L210.723 5.95614Z" fill="#E7232D"/>
						</svg>
					</div>
					<p class="text-red-950 text-center">“Jeg elsker, hvor nemt det er at få min menstruationspakke leveret hver måned. Jeg slipper for at skulle købe bind og tamponer selv, og self-care-tingene gør virkelig en forskel. Chokolade og te til de dage? Ja tak!“</p>
					<Image class="h-[100px] w-[100px] md:h-[160px] md:w-[160px] rounded-full object-cover " src={woman2} alt="kvinde anmeldelse 2"></Image>
				</article>
	
				<article class="flex flex-col gap-sm items-center min-w-9xl mx-xs mb-m slide active">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="232" height="38" viewBox="0 0 232 38" fill="none">
						<path d="M16.81 5.95614C17.4031 4.10181 20.0269 4.10182 20.6199 5.95614L22.4691 11.7379C22.7341 12.5664 23.5042 13.1287 24.374 13.1287H30.4245C32.3543 13.1287 33.1648 15.5918 31.6122 16.7378L26.6632 20.3907C25.9733 20.8999 25.6848 21.7923 25.946 22.6091L27.8235 28.4793C28.4146 30.3275 26.292 31.85 24.7308 30.6977L19.9027 27.134C19.1966 26.6129 18.2333 26.6129 17.5273 27.134L12.6992 30.6977C11.138 31.85 9.01538 30.3275 9.60649 28.4793L11.484 22.6091C11.7452 21.7923 11.4567 20.8999 10.7667 20.3907L5.81777 16.7378C4.26512 15.5918 5.07569 13.1287 7.00548 13.1287H13.0559C13.9258 13.1287 14.6959 12.5664 14.9609 11.7379L16.81 5.95614Z" fill="#E7232D"/>
						<path d="M65.0425 5.95614C65.6355 4.10181 68.2593 4.10182 68.8523 5.95614L70.7015 11.7379C70.9665 12.5664 71.7366 13.1287 72.6065 13.1287H78.6569C80.5867 13.1287 81.3973 15.5918 79.8446 16.7378L74.8956 20.3907C74.2057 20.8999 73.9172 21.7923 74.1784 22.6091L76.0559 28.4793C76.647 30.3275 74.5244 31.85 72.9632 30.6977L68.1351 27.134C67.4291 26.6129 66.4657 26.6129 65.7597 27.134L60.9316 30.6977C59.3704 31.85 57.2478 30.3275 57.8389 28.4793L59.7164 22.6091C59.9776 21.7923 59.6891 20.8999 58.9991 20.3907L54.0502 16.7378C52.4975 15.5918 53.3081 13.1287 55.2379 13.1287H61.2883C62.1582 13.1287 62.9283 12.5664 63.1933 11.7379L65.0425 5.95614Z" fill="#E7232D"/>
						<path d="M113.275 5.95614C113.868 4.10181 116.492 4.10182 117.085 5.95614L118.934 11.7379C119.199 12.5664 119.969 13.1287 120.839 13.1287H126.889C128.819 13.1287 129.63 15.5918 128.077 16.7378L123.128 20.3907C122.438 20.8999 122.15 21.7923 122.411 22.6091L124.288 28.4793C124.879 30.3275 122.757 31.85 121.196 30.6977L116.368 27.134C115.661 26.6129 114.698 26.6129 113.992 27.134L109.164 30.6977C107.603 31.85 105.48 30.3275 106.071 28.4793L107.949 22.6091C108.21 21.7923 107.921 20.8999 107.232 20.3907L102.283 16.7378C100.73 15.5918 101.541 13.1287 103.47 13.1287H109.521C110.391 13.1287 111.161 12.5664 111.426 11.7379L113.275 5.95614Z" fill="#E7232D"/>
						<path d="M161.994 6.13191C162.577 4.25812 165.23 4.25813 165.813 6.13192L167.554 11.7233C167.815 12.5592 168.588 13.1287 169.464 13.1287H175.273C177.19 13.1287 178.009 15.5645 176.481 16.7225L171.637 20.3946C170.966 20.9035 170.686 21.7786 170.936 22.583L172.752 28.4128C173.33 30.2705 171.184 31.7766 169.634 30.6013L165.112 27.1732C164.397 26.6317 163.41 26.6317 162.695 27.1732L158.173 30.6013C156.623 31.7766 154.477 30.2705 155.055 28.4128L156.871 22.583C157.121 21.7786 156.841 20.9035 156.17 20.3946L151.325 16.7225C149.798 15.5645 150.617 13.1287 152.534 13.1287H158.343C159.219 13.1287 159.992 12.5592 160.253 11.7233L161.994 6.13191Z" fill="#E7232D"/>
						<path d="M210.723 5.95614C211.316 4.10181 213.94 4.10182 214.533 5.95614L216.382 11.7379C216.647 12.5664 217.417 13.1287 218.287 13.1287H224.338C226.267 13.1287 227.078 15.5918 225.525 16.7378L220.576 20.3907C219.886 20.8999 219.598 21.7923 219.859 22.6091L221.737 28.4793C222.328 30.3275 220.205 31.85 218.644 30.6977L213.816 27.134C213.11 26.6129 212.146 26.6129 211.44 27.134L206.612 30.6977C205.051 31.85 202.928 30.3275 203.52 28.4793L205.397 22.6091C205.658 21.7923 205.37 20.8999 204.68 20.3907L199.731 16.7378C198.178 15.5918 198.989 13.1287 200.919 13.1287H206.969C207.839 13.1287 208.609 12.5664 208.874 11.7379L210.723 5.95614Z" fill="#E7232D"/>
						</svg>
					</div>
					<p class="text-red-950 text-center">“Den her pakke har ændret alt! Det er så rart at få det hele leveret til døren, og self-care-delen er en virkelig sød ekstra detalje. Jeg føler mig virkelig godt taget vare på, og det gør menstruationen lidt nemmere at håndtere.“</p>
					<Image class="h-[100px] w-[100px] md:h-[160px] md:w-[160px] rounded-full object-cover" src={woman1} alt="kvinde anmeldelse 1"></Image>
				</article>
	
				<article class="flex flex-col gap-sm items-center min-w-9xl mx-xs mb-m slide ">
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="232" height="38" viewBox="0 0 232 38" fill="none">
						<path d="M16.81 5.95614C17.4031 4.10181 20.0269 4.10182 20.6199 5.95614L22.4691 11.7379C22.7341 12.5664 23.5042 13.1287 24.374 13.1287H30.4245C32.3543 13.1287 33.1648 15.5918 31.6122 16.7378L26.6632 20.3907C25.9733 20.8999 25.6848 21.7923 25.946 22.6091L27.8235 28.4793C28.4146 30.3275 26.292 31.85 24.7308 30.6977L19.9027 27.134C19.1966 26.6129 18.2333 26.6129 17.5273 27.134L12.6992 30.6977C11.138 31.85 9.01538 30.3275 9.60649 28.4793L11.484 22.6091C11.7452 21.7923 11.4567 20.8999 10.7667 20.3907L5.81777 16.7378C4.26512 15.5918 5.07569 13.1287 7.00548 13.1287H13.0559C13.9258 13.1287 14.6959 12.5664 14.9609 11.7379L16.81 5.95614Z" fill="#E7232D"/>
						<path d="M65.0425 5.95614C65.6355 4.10181 68.2593 4.10182 68.8523 5.95614L70.7015 11.7379C70.9665 12.5664 71.7366 13.1287 72.6065 13.1287H78.6569C80.5867 13.1287 81.3973 15.5918 79.8446 16.7378L74.8956 20.3907C74.2057 20.8999 73.9172 21.7923 74.1784 22.6091L76.0559 28.4793C76.647 30.3275 74.5244 31.85 72.9632 30.6977L68.1351 27.134C67.4291 26.6129 66.4657 26.6129 65.7597 27.134L60.9316 30.6977C59.3704 31.85 57.2478 30.3275 57.8389 28.4793L59.7164 22.6091C59.9776 21.7923 59.6891 20.8999 58.9991 20.3907L54.0502 16.7378C52.4975 15.5918 53.3081 13.1287 55.2379 13.1287H61.2883C62.1582 13.1287 62.9283 12.5664 63.1933 11.7379L65.0425 5.95614Z" fill="#E7232D"/>
						<path d="M113.275 5.95614C113.868 4.10181 116.492 4.10182 117.085 5.95614L118.934 11.7379C119.199 12.5664 119.969 13.1287 120.839 13.1287H126.889C128.819 13.1287 129.63 15.5918 128.077 16.7378L123.128 20.3907C122.438 20.8999 122.15 21.7923 122.411 22.6091L124.288 28.4793C124.879 30.3275 122.757 31.85 121.196 30.6977L116.368 27.134C115.661 26.6129 114.698 26.6129 113.992 27.134L109.164 30.6977C107.603 31.85 105.48 30.3275 106.071 28.4793L107.949 22.6091C108.21 21.7923 107.921 20.8999 107.232 20.3907L102.283 16.7378C100.73 15.5918 101.541 13.1287 103.47 13.1287H109.521C110.391 13.1287 111.161 12.5664 111.426 11.7379L113.275 5.95614Z" fill="#E7232D"/>
						<path d="M161.994 6.13191C162.577 4.25812 165.23 4.25813 165.813 6.13192L167.554 11.7233C167.815 12.5592 168.588 13.1287 169.464 13.1287H175.273C177.19 13.1287 178.009 15.5645 176.481 16.7225L171.637 20.3946C170.966 20.9035 170.686 21.7786 170.936 22.583L172.752 28.4128C173.33 30.2705 171.184 31.7766 169.634 30.6013L165.112 27.1732C164.397 26.6317 163.41 26.6317 162.695 27.1732L158.173 30.6013C156.623 31.7766 154.477 30.2705 155.055 28.4128L156.871 22.583C157.121 21.7786 156.841 20.9035 156.17 20.3946L151.325 16.7225C149.798 15.5645 150.617 13.1287 152.534 13.1287H158.343C159.219 13.1287 159.992 12.5592 160.253 11.7233L161.994 6.13191Z" fill="#E7232D"/>
						<path d="M210.723 5.95614C211.316 4.10181 213.94 4.10182 214.533 5.95614L216.382 11.7379C216.647 12.5664 217.417 13.1287 218.287 13.1287H224.338C226.267 13.1287 227.078 15.5918 225.525 16.7378L220.576 20.3907C219.886 20.8999 219.598 21.7923 219.859 22.6091L221.737 28.4793C222.328 30.3275 220.205 31.85 218.644 30.6977L213.816 27.134C213.11 26.6129 212.146 26.6129 211.44 27.134L206.612 30.6977C205.051 31.85 202.928 30.3275 203.52 28.4793L205.397 22.6091C205.658 21.7923 205.37 20.8999 204.68 20.3907L199.731 16.7378C198.178 15.5918 198.989 13.1287 200.919 13.1287H206.969C207.839 13.1287 208.609 12.5664 208.874 11.7379L210.723 5.95614Z" fill="#E7232D"/>
						</svg>
					</div>
					<p class="text-red-950 text-center">"Super praktisk løsning. Jeg kan vælge præcis, hvad jeg har brug for, og pakken kommer lige når jeg har brug for den. Det har gjort mit liv meget lettere, og jeg elsker, at jeg slipper for at tænke på det!"</p>
					<Image class="h-[100px] w-[100px] md:h-[160px] md:w-[160px] rounded-full object-cover" src={woman3} alt="kvinde anmeldelse 3"></Image>
				</article>		
	
	
			</div>
			<button class="prev-button" onclick="prevSlide()">PREV</button>
			<button class="next-button" onclick="nextSlide()">NEXT</button>
		</div>

		<div class="overflow-clip w-auto"><Wave></Wave></div>
		
	</section>

	<section class="mt-2xl  flex flex-row justify-center section4">
		<div class="flex flex-col mx-sm w-full md:w-[600px]">
			<h2 class="text-red-800 mb-xs md:mb-sm ">Q&A</h2>
			
	  <div class=" flex flex-col gap-xs md:gap-sm ">
	    <details class="mb-xs">
	      <summary class="text-red-700 border-b border-red-900 border-b-4  accordion-summary pb-xs">Hvordan fungerer pakken?</summary>
	      <article>
	        <p class="text-red-950 pt-xs">
				Du vælger, hvad du har brug for (bind, tamponer og self-care goodies), og vi sender en pakke til dig, lige når du skal bruge den – hver måned eller når du ønsker det
	        </p>
	      </article>
	    </details>
	
		<details class="mb-xs">
			<summary class="text-red-700 border-b border-red-900 border-b-4 pb-xs">Hvor ofte kan jeg få min pakke?</summary>
			<article>
			  <p class="text-red-950 pt-xs">
				Du vælger selv! Få pakken hver måned, eller når din cyklus er klar til at komme - det er helt op til dig.
			  </p>
			</article>
		  </details>
	
		  <details class="mb-xs">
			<summary class="text-red-700 border-b border-red-900 border-b-4 pb-xs">Hvad er med i self-care pakken?</summary>
			<article>
			  <p class="text-red-950 pt-xs">
				Vi har fyldt pakken med alt, der gør din menstruation lidt lettere: chokolade, te, og andre små ting, der forkæler dig.			  </p>
			</article>
		  </details>
	

		<details class="mb-xs">
			<summary class="text-red-700 border-b border-red-900 border-b-4 pb-xs">Kan jeg vælge mellem bind og tamponer?</summary>
			<article>
			  <p class="text-red-950 pt-xs">
				Ja, du vælger præcis, hvad du har brug for - både bind og tamponer, eller kun én af delene. Det er din cyklus, din pakke!			</article>
		  </details>

		  <details class="mb-xs">
			<summary class="text-red-700 border-b border-red-900 border-b-4 pb-xs">Er det nemt at ændre mit abonnement?</summary>
			<article>
			  <p class="text-red-950 pt-xs">
				Super nemt! Du kan ændre, pause eller stoppe abonnementet når som helst - vi gør det så let som muligt.
			  </p>
			</details>

			<details class="mb-xs">
				<summary class="text-red-700 border-b border-red-900 border-b-4 pb-xs">Kan jeg få pakken leveret til min dør?</summary>
				<article>
				  <p class="text-red-950 pt-xs">
					Ja, vi leverer din pakke lige til døren – så du slipper for at tænke på det.				  
				</p>
				</details>
		</div>
	</div>
	</section>

	<section class="mt-2xl  mb-lg mx-sm md:mx-4xl grid grid-cols-1 lg:grid-cols-2 items-center section5">
		<div class="flex flex-row md:gap-s justify-around md:justify-between lg:grid lg:grid-rows-3 lg:grid-cols-2  md:mx-auto pb-sm">
			<Image class="shadow-dropblue h-[100px] w-[100px] md:h-[190px] md:w-[190px] lg:col-start-1 md:col-end-2 lg:row-start-2 lg:row-end-3 rounded-full object-cover md:transition-all md:hover:scale-105" src={selma} alt="Selma"></Image>
			<Image class="shadow-dropblue h-[100px] w-[100px] md:h-[190px] md:w-[190px] lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2  rounded-full object-cover md:transition-all md:hover:scale-105" src={ida} alt="Ida"></Image>
			<Image class=" shadow-dropblue h-[100px] w-[100px] md:h-[190px] md:w-[190px] lg:col-start-2 lg:col-end-3 lg:row-start-3 lg:row-end-4 rounded-full object-cover md:transition-all md:hover:scale-105" src={laura} alt="Laura"></Image>
		</div>
		<div class="flex flex-col">
			<div class="flex flex-col gap-xs pb-s">
				<h3 class="text-red-700">Vi er her for dig og din komfort</h3>
				<p class="text-red-950">Vi er tre unge kvinder med en mission: at gøre menstruationen nemmere, mere bekvem og stressfri. Vi tror på, at alle fortjener self-care uden bekymringer - og at små handlinger kan gøre en stor forskel i hverdagen.</p>
				<p class="text-red-950">Derfor kombinerer vi praktiske løsninger til din cyklus med fokus på komfort og kvalitet. Det handler om dig, din velvære og din trivsel.</p>
			</div>
			<div class="flex gap-s flex-col items-end ">
				<div class="block md:hidden"><Button variant="secondary" size="small" href="/omos">Læs mere</Button></div>
				<div class="block md:hidden"><Button class="flex-end" variant="primary" size="medium" href="/abonner">Abonnér</Button></div>
			</div>
			<div class="flex  gap-s flex-row items-end">
				<div class="hidden md:block"><Button variant="secondary" size="medium" href="/omos">Læs mere</Button></div>
				<div class="hidden md:block"><Button class="flex-end" variant="primary" size="large" href="/abonner">Abonnér</Button></div>
			</div>
		</div>

	</section>
	
</MainLayout>

<style>

.slider {
  position: relative;
  height:fit-content;
  display: flex;
  width: fit-content;
  gap: 20px;
  transition: transform ease 0.2s;
}

.slide {
  transition: transform ease 0.2s, opacity ease 0.2s;
  opacity: 0.5;
}


.slide.active {
  transform: scale(1.1);
  opacity: 1;
}

.slider-wrapper {
  position: relative;
}

.prev-button {
  position: absolute;
  top: 50%;
  left: -55px;
  height: 16px; /* Height of the arrow */
  background-image: url('../../public/clickacc.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.next-button {
  position: absolute;
  top: 50%;
  right: -55px;
  height: 16px; /* Height of the arrow */
  background-image: url('../../public/clickacc.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

details summary {
	list-style: none; /* Remove the default triangle */
  cursor: pointer;
  display: flex; /* Use flexbox to align content */
  flex-direction: row-reverse;
  justify-content: space-between; /* Push the arrow to the end */
  align-items: center; /* Center-align text and arrow vertically */
  position: relative;
}

details summary::before {
  content: '';

  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  width: 34px; /* Width of the arrow */
  height: 16px; /* Height of the arrow */
  background-image: url('../../public/clickacc.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out; /* Animation for rotation */
}
details,
details summary {
padding-left:0;
background-image:none;
-webkit-appearance:none;
}

details[open] summary::before {
  transform: translateY(-50%) rotate(180deg); /* Rotate arrow when open */
}



.custom-scroll {
  width: 100%;
  overflow-x: auto;;
}

/* Custom scrollbar styles for WebKit browsers */
.custom-scroll::-webkit-scrollbar {
  height: 10px; /* Height of the horizontal scrollbar */
  width: 10px; /* Width of the vertical scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #fff; /* Background of the scrollbar track */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #3F4ED4; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners for the scrollbar handle */
  max-width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #2e3bac; /* Darker color when hovered */
}

</style>

<script>  
	import { inView } from "motion";

const inviewelement = document.querySelector(".titel");
inView(
	inviewelement , () => {
		inviewelement.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
	})

	const inviewelement1 = document.querySelector(".point1");
inView(
	inviewelement1 , () => {
		inviewelement1.classList.add("animate__animated","animate__fadeInLeft", "animate__delay-2s")
	})
	
	const inviewelement2 = document.querySelector(".point2");
inView(
	inviewelement2 , () => {
		inviewelement2.classList.add("animate__animated","animate__fadeInLeft", "animate__delay-3s")
	})

	const inviewelement3 = document.querySelector(".point3");
inView(
	inviewelement3 , () => {
		inviewelement3.classList.add("animate__animated","animate__fadeInLeft", "animate__delay-4s")
	})

	const inviewelement4 = document.querySelector(".knap1");
inView(
	inviewelement4 , () => {
		inviewelement4.classList.add("animate__animated","animate__fadeInUp", "animate__delay-5s")
	})

	const inviewelement5 = document.querySelector(".section1");
inView(
	inviewelement5 , () => {
		inviewelement5.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
	})

	const inviewelement6 = document.querySelector(".section2");
inView(
	inviewelement6 , () => {
		inviewelement6.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
	})

	const inviewelement7 = document.querySelector(".section3");
inView(
	inviewelement7 , () => {
		inviewelement7.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
	})

	const inviewelement8 = document.querySelector(".section4");
inView(
	inviewelement8 , () => {
		inviewelement8.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
	})

	const inviewelement9 = document.querySelector(".section5");
inView(
	inviewelement9 , () => {
		inviewelement9.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
	})

	setTimeout(function() {
	  document.getElementById("popup").style.display = "block";
	}, 7000);
  
	document.getElementById("close-btn").addEventListener("click", function() {
	  document.getElementById("popup").style.display = "none";
	});

  </script>

<!--  
<script>
var currentIndex = 0;
var currentTranslation = 0;

var slides = document.querySelectorAll('.slide');
var slider = document.querySelector('.slider');


function showSlide() {
  slides.forEach( (slide, index) => {
    if (currentIndex === index) {
      slide.classList.add('active')
    } else {
      slide.classList.remove('active')
    }
  });
}

var offset = 210;

function prevSlide() {
    currentIndex = currentIndex > 0 ? currentIndex - 1 : 0;
    currentTranslation = currentIndex * offset * -1 + 100;
    slider.style.transform = 'translateX(' + currentTranslation + 'px)';
    showSlide();
}

function nextSlide() {
    currentIndex = currentIndex < slides.length - 1 ? currentIndex + 1 : slides.length - 1;
    currentTranslation =  currentIndex  * offset * -1 + 100;
    slider.style.transform = 'translateX(' + currentTranslation + 'px)';
    showSlide();
}

	import { inView } from "motion";

	const inviewelement = document.querySelector(".titel");
	inView(
		inviewelement , () => {
			inviewelement.classList.add("animate__animated","animate__fadeIn", "animate__delay-1s")
		})

		const inviewelement1 = document.querySelector(".point1");
	inView(
		inviewelement1 , () => {
			inviewelement1.classList.add("animate__animated","animate__fadeInLeft", "animate__delay-2s")
		})
		
		const inviewelement2 = document.querySelector(".point2");
	inView(
		inviewelement2 , () => {
			inviewelement2.classList.add("animate__animated","animate__fadeInLeft", "animate__delay-3s")
		})

		const inviewelement3 = document.querySelector(".point3");
	inView(
		inviewelement3 , () => {
			inviewelement3.classList.add("animate__animated","animate__fadeInLeft", "animate__delay-4s")
		})

		const inviewelement4 = document.querySelector(".knap1");
	inView(
		inviewelement4 , () => {
			inviewelement4.classList.add("animate__animated","animate__bounceInUp", "animate__delay-5s")
		})

		const inviewelement5 = document.querySelector(".section1");
	inView(
		inviewelement5 , () => {
			inviewelement5.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
		})

		const inviewelement6 = document.querySelector(".section2");
	inView(
		inviewelement6 , () => {
			inviewelement6.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
		})
	
		const inviewelement7 = document.querySelector(".section3");
	inView(
		inviewelement7 , () => {
			inviewelement7.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
		})

		const inviewelement8 = document.querySelector(".section4");
	inView(
		inviewelement8 , () => {
			inviewelement8.classList.add("animate__animated","animate__fadeInUp", "animate__delay-1s")
		})

</script> -->