---
import Wave from "./Wave.astro"
import Link from "./Link.astro";
import { Image } from 'astro:assets';
import period from "../assets/images/Period.svg";
import tiktok from "../assets/images/tiktok-knap.svg";
import instagram from "../assets/images/instagram-knap.svg";
import facebook from "../assets/images/facebook-knap.svg";
import youtube from "../assets/images/youtube-knap.svg";
import betaling from "../assets/images/betaling.png";
---

<section class="pt-lg lg:pt-lg">
<div class="overflow-clip w-auto rotate-180"><Wave></Wave></div>

<div class="bg-red-50/60 pb-s">
    <Image class="w-full md:pr-8xl mx-auto px-ml mb-lg " src={period} alt="Logo"/>

    <div class="flex flex-row justify-between mx-auto px-ml">
        <div class="text-blue-950  "> 
            <p class="font-extrabold pb-xs text-blue-950">Information</p>
           <div class=" flex flex-col justify-around">
                <Link href=""><p class="text-blue-950">FAQ</p></Link>
                <Link href=""><p class="text-blue-950">Kontakt</p></Link>
                <Link href=""><p class="text-blue-950">Vilkår og betingelser</p></Link>
                <Link href=""><p class="text-blue-950">Privatlivspolitik</p></Link>
                <Link href=""><p class="text-blue-950">Cookies</p></Link>
           </div>
        </div>

        <div class="text-blue-950 text-right md:text-left"> 
            <p class="font-extrabold pb-xs text-blue-950">Udforsk Period</p>
       <div class="flex flex-col items-end md:items-start justify-around ">
        <span></span>
        <Link href="/ompakken"><p class="text-blue-950 ">Om pakken</p></Link>
        <Link href="/omos"><p class="text-blue-950 ">Om os</p></Link>
        <Link href="/abonner"><p class="text-blue-950 ">Få dit abonnement</p></Link>
        <Link href=""><p class="text-blue-950 ">Min profil</p></Link>
       </div>
        </div>

        <div class="text-blue-950 hidden md:block "> 
            <p class="font-extrabold pb-xs text-blue-950">Tilmeld nyhedsbrev</p>
            <form class="flex flex-row  w-[280px]  border-none  p-[1px]">
                <input class="bg-red-300  p-xs rounded-l-border_radius-sm hover:bg-red-200 enabled:border-red-400 text-blue-950 placeholder:text-blue-950" type="email" placeholder="Din e-mail" required="" />
                <button value="submit" class="rounded-r-border_radius-sm  bg-red-700 text-red-50 p-xs hover:bg-red-50 hover:text-red-700"><span>&#8594;</span></button>
            </form>
           
        </div>
    </div>

    <div class="flex flex-row justify-between mx-auto px-ml mt-ml">
        <Image class="w-auto h-ml hidden md:block " src={betaling} alt="betalingsmuligheder"/>
        <div class="flex flex-col content-center md:content-end">
            <div class="flex flex-row pb-xxs md:justify-end pl-s">
                <Image class="w-xl md:w-auto transition-all ease-in-out hover:scale-110" src={tiktok} alt="betalingsmuligheder"/>
                <Image class="w-xl md:w-auto transition-all ease-in-out hover:scale-110" src={instagram} alt="betalingsmuligheder"/>
                <Image class="w-xl md:w-auto transition-all ease-in-out hover:scale-110" src={facebook} alt="betalingsmuligheder"/>
                <Image class="w-xl md:w-auto transition-all ease-in-out hover:scale-110" src={youtube} alt="betalingsmuligheder"/>
            </div>
            <p class="text-konsultativMobile text-red-950 pl-ml">© Period. 2024, alle rettigheder CVR 123456789</p>

        </div>
    </div>

</div>

</section>