---
import { Image } from 'astro:assets';
import step1 from "../assets/images/bg.png";
import step2 from "../assets/images/stepp2.png";
import step3 from "../assets/images/stepp3.png";
import drop from "../assets/images/drop.svg";
---

<section class="grid grid-rows-3 gap-ml lg:gap-sm justify-center lg:flex lg:flex-row lg:justify-center mx-xxs md:mx-xl my-xl">
    <div class="flex flex-row md:flex-col gap-xs items-center justify-center mt-xs">
        <h4 class="text-blue-800  hidden md:block">Step 1</h4>
            <Image class="shadow-dropblue h-[150px] w-[150px] lg:h-[250px] lg:w-[250px] rounded-full object-cover md:transition-all md:hover:scale-105 m-xs" src={step1} alt="step 1"/>
        <div class="w-[150px] md:w-[350px] lg:w-[300px]">
            <h4 class="text-blue-800 pb-xs md:pb-s block text-left md:hidden">Step 1</h4>
            <p class="text-left md:text-center md:self-start text-red-950 ">Vælg de produkter, du har brug for - bind, tamponer og self-care som chokolade og te. Tilpas den, så den passer til din cyklus.</p>
       </div>
    </div>

    <Image class="hidden lg:block"  src={drop} alt="drop"/>

    <div class="flex flex-row md:flex-col items-center justify-center gap-xs">
        <div class="w-[150px] md:w-[350px] lg:w-[300px]">
          <h4 class="text-blue-800  text-right md:text-center">Step 2</h4>
          <p class="text-right md:text-center md:w-[300px] text-red-950 block md:hidden">
            Få din pakke leveret direkte til din dør, lige når du skal bruge den - altid diskret og på dine præmisser.
          </p>
        </div>
          <Image
            class=" shadow-dropblue h-[150px] w-[150px] lg:h-[250px] lg:w-[250px] rounded-full md:object-cover md:transition-all md:hover:scale-105 m-s "
            src={step2}
            alt="step 2"/>   
        <p class="text-right md:text-center md:self-start md:w-[350px] lg:w-[300px] text-red-950 hidden md:block ">
          Få din pakke leveret direkte til din dør, lige når du skal bruge den - altid diskret og på dine præmisser.
        </p>
      </div>
    
    <Image class="hidden lg:block"  src={drop} alt="drop"/>

    <div class="flex flex-row md:flex-col md:items-center justify-center gap-xs">
        <h4 class="text-blue-800  hidden md:block">Step 3</h4>
        <Image class="shadow-dropblue h-[150px] w-[150px] lg:h-[250px] lg:w-[250px] rounded-full md:object-cover md:transition-all md:hover:scale-105 m-xs" src={step3} alt="step 3"/>
     <div class="w-[150px] md:w-[350px] lg:w-[300px]">
            <h4 class="text-blue-800 pb-xs block text-left md:hidden">Step 3</h4>
            <p class="text-left md:text-center md:self-start md:w-[350px] lg:w-[300px] text-red-950 ">Nyd en nemmere menstruation med alt, hvad du har brug for, samlet i én pakke. Self-care har aldrig været lettere!</p>
        </div>
    </div>


</section>

